body{
    background-color: #F8FAFC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1A253D;
}

#help_overlay{

    overflow: scroll;

    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 100;

    background-color: #FFFFFF;
    
    border: 5px #1A253D;
    border-radius: 2px;

    width: 19%;
    height: 75%;

    text-align: center;
    justify-content: center;
}


.flex_container{
    width: 100%;
    display: flex;
    grid-template-columns: auto auto;
    flex-direction: row;

    background-color: #CBD5E1;

}

#button_container{
    justify-content: center;
    text-align: center;
}

#input_container{
    display: flex;
    flex-direction: column;


    width: 45%;
    height: 100%;

    padding-right: 50px;
    padding-left: 50px;
}
form{
    position: relative;
    float: left;
    border-radius: 2px;
    border: 5px #E2E8F0;
    width: 27%;
    height: 30%;
    background-color: #1A253D;
}

#city_input{

    font-size: 18px;

    width: 100%;
    height: 100%;
}

.button{

    border-radius: 15px;

    width: fit-content;
    font-size: 24px;
}

#help_button{
    border-radius: 15px;

    margin-left: 20px;

    width: fit-content;
    font-size: 24px;
}


#community_output{
    display: flex;
    width: 100%;
    height: 321px;

    padding-top: 15px;

    flex-direction: row;
    flex-wrap: wrap;
}

.input_city{
    background-color: #FFFFFF;

    height: fit-content;

    font-size: 18px;

    border: solid 2px #1A253D;
    border-radius: 5px;

    width: fit-content;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#clickable{
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
}

.community_div{
    background-color: #FFFFFF;

    font-size: 24px;

    width: fit-content;
    height: fit-content;

    margin-left: 10px;
    margin-right: 10px;

    border: solid 2px #CBD5E1;
    border-radius: 5px;
    text-align: center;
}

th{
   border: solid 2px #E2E8F0; 
}
table{
    text-align: center;
}

.community_delete{
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 5px;
}

#map_div{

    z-index: 99;

    width: 45%;
    height: 450px;
    
    padding-right: 50px;

    border-radius: 5px;

    background-color: red;
    color: red;
}

#test{
    padding-top: 2%;
    justify-content: center;

    height: 205px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#how_to_div{
    text-align: center;
}

ul
{
    list-style-type: none;
}
