body{
    background-color: #F8FAFC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1A253D;
    
}

.flex_container{
    display: flex;
    grid-template-columns: auto auto;
    flex-direction: row;

    background-color: #F1F5F9;

}

#input_container{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}
form{
    position: relative;
    float: left;
    border-radius: 2px;
    border: 5px #E2E8F0;
    width: 27%;
    height: 30%;
    background-color: #1A253D;
}

#city_input{
    width: 100%;
    height: 100%;
}

#button{
    width: 33%;
}

#community_output{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input_city{
    background-color: #FFFFFF;
    width: fit-content;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}




#clickable{
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
}

.community_div{
    background-color: #FFFFFF;

    font-size: 24px;

    width: fit-content;
    height: fit-content;

    margin-left: 10px;
    margin-right: 10px;

    border: solid 2px #CBD5E1;
    border-radius: 5px;
    text-align: center;
}

th{
   border: solid 2px #E2E8F0; 
}
table{
    text-align: center;
}

.community_delete{
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 5px;
}

#map_div{
    width: 50%;
    height: 450px;
    
    border-radius: 5px;

    background-color: red;
    color: red;
}

#test{
    padding-top: 2%;
    justify-content: center;

    display: flex;
    flex-direction: row;
    align-items: center;




}