body{
    background-color: #F7F8FA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1A253D;
}

form{
    position: relative;
    float: left;
    border-radius: 2px;
    border: 5px aliceblue;
    width: 27%;
    height: 30%;
    background-color: #1A253D;
}

#city_input{
    width: 75%;
    height: 60%;
}

#clickable{
    width: 100px;
    height: 100px;
    background-color: red;
}

.community_div{
    background-color: #FFFFFF;
    float: left;
    border: solid 2px #dcdde1;
    border-radius: 5px;
}

th{
   border: solid 2px #1136ce; 
}
table{
    text-align: center;
}